.c-bg {
  display: none;
  width: 100%;
  height: 1749px; // Leave in pixels
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  @include min(900px) {
    display: block;
  }
}

.c-bg svg {
  min-width: 1366px; // Leave in pixels
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}
