.c-contact-card {
  display: none;
  position: absolute;
  z-index: z(contact-card);
  top: calc(100% - #{rem(90px)});
  right: 0;
  padding-right: $column-padding;
  text-align: right;

  @include min(1220px) {
    display: block;
  }
}
