.c-header {
  display: flex;
  align-items: center;
  min-height: 90vh;
  position: relative;
  background-image: url(http://unsplash.it/1366/768?random=1);
  background-position: center;
  background-size: cover;
  background-color: #333;

  @media (min-width: 900px) {
    min-height: 628px;
    background: none;
  }

  &::after {
    content: '';
    height: 80px;
    width: 100%;
    position: absolute;
    top: calc(100% - 40px);
    left: 0;
    background-color: white;
    transform: skewY(-5deg);
    @media (min-width: 900px) {
      display: none;
    }
  }
}


.c-header__content {
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
}

.c-header__content br {
  display: none;

  @media (min-width: 500px) {
    display: block;
  }
}


.c-header__title {
  margin-bottom: 25px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.1;
  text-transform: uppercase;
  text-shadow: 0 2px 30px rgba(0, 0, 0, .2);

  @media (min-width: 500px) {
    font-size: 33px;
  }

  @media (min-width: 700px) {
    font-size: 50px;
  }
}

.c-header__subtitle {
  font-size: 20px;
  line-height: 1.5;
  opacity: .8;
  text-shadow: 0 2px 30px rgba(0, 0, 0, .2);
}
