.o-site {
  @include min(900px) {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.o-container {
  box-sizing: border-box;
  width: 100%;
  padding-right: $column-padding;
  padding-left: $column-padding;
  border-right-width: $space;
  border-left-width:  $space;
  border-style: solid;
  border-color: transparent;
}

// .o-container + .o-container:not(.--independent) {
//   padding-top: 0;
// }

// .o-container.--independent + .o-container {
//   padding-top: calc(#{$space} * 2);
// }
