.o-site {
  @include min(900px) {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.o-container {
  box-sizing: border-box;
  width: 100%;
  border-right-width: $space;
  border-left-width:  $space;
  border-style: solid;
  border-color: transparent;

  // IE allows negative padding...
  @include min($base-width) {
    padding-right: $column-padding;
    padding-left: $column-padding;
  }
}

.o-top {
  padding-top: rem(60px);

  @include min(700px) {
    padding-top: rem(120px);
  }
}
