.c-section-01 {
  @include min(900px) {
    box-sizing: content-box;
    max-width: rem(700px);
  }
}

.c-section-01__img {
  display: block;
  margin-top: em(40px);
  margin-right: auto;
  margin-left: auto;

  @include min(900px) {
    margin-top: em(60px);
    margin-left: em(10px);
  }
}

.c-section-02 {
  @include min(1000px) { margin-top: em( -50px); }
  @include min(1100px) { margin-top: em(-100px); }
  @include min(1200px) { margin-top: em(-200px); }
}

.c-section-02__text {
  @include min(900px) {
    max-width: rem(600px);
    margin-left: auto;
    text-align: right;
  }
}

.c-section-02__size {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include min(900px) {
    flex-direction: row;
  }
}

.c-section-02__size-img {
  display: block;
  max-width: 100%;
}

.c-section-02__list {
  margin-top: rem(40px);

  @include min(900px) {
    margin-top: 0;
    margin-left: rem(80px);
  }
}

.c-section-02__list > li {
  position: relative;
  padding-left: em(40px, 18px);

  &::before {
    content: '';
    width: 17px;
    height: 17px;
    position: absolute;
    top: em(9px, 18px);
    left: 0;
    background-color: #eee;
    border-radius: 50%;
  }
} 

.c-section-02__sub-list {
  margin: em(15px, 18px) 0;
}

.c-section-02__sub-list > li {
  font-size: em(13px, 18px);
  opacity: .9;
}

.c-section-03__grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: rem(-30px);
  margin-left: rem(-30px);
}

.c-section-03__card {
  box-sizing: border-box;
  margin-top: rem(30px);
  margin-left: rem(30px);
  padding: rem(60px) rem(40px);
  border-radius: $border-radius * 1.5;
  background-color: #fff;
  box-shadow: 0 10px 55px rgba(0, 0, 0, .1);

  @include min(1000px) {
    flex-basis: 100%; // IE
    flex: 1 calc((100% - 3 * #{rem(30px)}) / 3);
  }
}

.c-section-04 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include min(900px) {
    flex-direction: row;
  }
}

.c-section-04__img {
  width: 100%;
  margin-bottom: rem(60px);
  background-color: #eee;
  border-radius: $border-radius * 1.5;

  @include min(900px) {
    width: 28%;
    margin-right: rem(60px);
    margin-bottom: 0;
  }
}

.c-section-04__text {
  @include min(900px) {
    width: 72%;
  }
}

.c-section-04__cursive {
  display: block;
  font-size: rem(33px);
  font-family: 'Marck Script', cursive;
}

.c-section-05__gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: rem(-10px);
}

.c-section-05__gallery > * {
  flex: 1 rem(250px);
  margin: rem(10px) 0 0 rem(10px); 
}

.c-section-05__gallery img {
  max-width: 100%;
}
